<div class="container">
  <div class="content">
    <div>
      <div class="left-content">
        <span class="label">High: </span>
        <span class="data">{{ticker.high | currency}}</span>
      </div>
      <div class="left-content">
        <span class="label">Low: </span>
        <span class="data">{{ticker.low | currency}}</span>
      </div>
    </div>
    <div style="align-content: left">
      <div class="right-content">
        <span class="label">Open: </span>
        <span class="data">{{ticker.open | currency}}</span>
      </div>
      <div class="right-content">
        <span class="label">Close: </span>
        <span class="data">{{ticker.close | currency}}</span>
      </div>
    </div>
  </div>
</div>