@import '../../../assets/theme';

.price {
    font-size: $base-font-size
}

.change {
    font-size: $base-font-size / 2;
}

.positive {
    color: $increase-color;
}

.negative {
    color:  $decrease-color;
}

.time-text {
    font-size: $base-font-size / 2;
}