<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/"><i class="fas fa-chart-line"></i> Ticker Tracker</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="symbol" id="symbol"
      [(ngModel)]="symbol">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="lookupSymbol()">Search</button>
  </form>
</nav>
<div class="wrapper p-3">
  <router-outlet></router-outlet>
</div>
<div class="footer border-top">
  <div>
    <span class="title">Ticker Tracker</span>
    <br />
    <span class="copyright"><i class="far fa-copyright"></i> Copyright 2019</span>
  </div>
  <div>
    <span class="company">UAGC</span>
    <br />
    <span class="address">1 University of Arkansas</span>
    <br />
    <span class="address">Fayetteville, AR 720704</span>
  </div>
</div>