/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './assets/theme';

.label {
    font-size: $base-font-size / 1.5;
    color: $secondary-text-color;
}

.data  {
    font-size: $base-font-size / 1.5;
    color: $secondary-text-color;
}